{% extends "objecthandles/base.html" %}

{% block content %}

<h1>What is it?</h1>	
A very common UI element found in many applications are those little square handles around an on-screen object that allow you to move &amp; resize it. 

<h1>Live Example</h1>
<div id="example">
 
</div>
<br/>Want some more examples?  Click the "Try Example Now" links here on the <a href="{% url objecthandles.views.examples %}">demo/tutorial page</a><br/>

<h1>Demos / Tutorials</h1>
Need some more help?  <br/><br/>Consider buying the <a href="{% url objecthandles.views.examples %}">demo applications</a> that show you how to use ObjectHandles!


<script type="text/javascript" charset="utf-8">
  swfobject.embedSWF("/static/ObjectHandles2Example.swf", "example", "730", "520", "10.0.0");
  
</script>

{% endblock %}

