{% extends "objecthandles/base.html" %}

{% block content %}

<h1>Reported usages</h1>
Want your site / app listed here?  Send a message to the <a href="http://groups.google.com/group/objecthandles">Google Group</a> letting us know.
<br/><br/>

<h2><a name="ADigitalBook"/>ADigitalBook<a href="#ADigitalBook" class="section_anchor"></a></h2>
<ul><li><a href="http://www.adigitalbook.com/" rel="nofollow">A Digital Book</a> - Much of the interface of A Digital Book utilizes Object Handles. </li></ul>
<h2><a name=""/>AgileAgenda<a href="/p/flex-object-handles/w/edit/AgileAgenda"></a></h2><ul><li><a href="http://www.agileagenda.com/" rel="nofollow">AgileAgenda</a> - The LightTable<a href="/p/flex-object-handles/w/edit/LightTable"></a> view of AgileAgenda<a href="/p/flex-object-handles/w/edit/AgileAgenda"></a> uses ObjectHandles<a href="/p/flex-object-handles/w/edit/ObjectHandles"></a>.  You can see a screenshot of that here: <a href="http://www.agileagenda.com/screenshots/" rel="nofollow">http://www.agileagenda.com/screenshots/</a>  (Third thumbnail over, on the second row) </li></ul>
<h2><a name="ASButtonGen"/>ASButtonGen<a href="#ASButtonGen" class="section_anchor"></a></h2><ul><li><a href="http://jirox.net/AsButtonGen/" rel="nofollow">http://jirox.net/AsButtonGen/</a> - Not 100% sure this is ObjectHandles<a href="/p/flex-object-handles/w/edit/ObjectHandles"></a>, but it sure looks like it.  Even has one of our old known-bugs in it :) </li></ul>
<h2><a name="EDO_Board"/>EDO Board<a href="#EDO_Board" class="section_anchor"></a></h2><ul><li><a href="http://www.edoboard.com/" rel="nofollow">http://www.edoboard.com/</a> Whiteboard for science </li></ul>
<h2><a name="EMaze"/>EMaze<a href="#EMaze" class="section_anchor"></a></h2><ul><li><a href="http://www.emaze.com/" rel="nofollow">http://www.emaze.com/</a> EMaze - ad creation tool </li></ul>
<h2><a name="inVision"/>inVision BoardRoom<a href="/p/flex-object-handles/w/edit/BoardRoom"></a><a href="#inVision" class="section_anchor"></a></h2><ul><li><a href="http://www.invboards.com/" rel="nofollow">http://www.invboards.com/</a> Tool to create a snowboard. </li></ul>
<h2><a name="Nudger"/>Nudger<a href="#Nudger" class="section_anchor"></a></h2><ul><li><a href="http://www.rogue-development.com/blog2/2009/06/nudger-my-latest-mini-project/" rel="nofollow">http://www.rogue-development.com/blog2/2009/06/nudger-my-latest-mini-project/</a> Nudger, a mini-project of mine to nudge pixels around. </li></ul>
<h2><a name="Examples"/>ObjectHandles<a href="/p/flex-object-handles/w/edit/ObjectHandles"></a> Examples<a href="#Examples" class="section_anchor"></a></h2><ul><li><a href="{% url objecthandles.views.examples %}" rel="nofollow">{% url objecthandles.views.examples %}</a> Some example applications. </li></ul>
<h2><a name="Simple_Diagrams"/>Simple Diagrams<a href="#Simple_Diagrams" class="section_anchor"></a></h2><ul><li><a href="http://www.simplediagrams.com" rel="nofollow">http://www.simplediagrams.com</a> A tool to create diagrams. </li></ul>
<h2><a name="Timeliner_XE"/>Timeliner XE<a href="#Timeliner_XE" class="section_anchor"></a></h2><ul><li><a href="http://www.tomsnyder.com/timelinerxe/" rel="nofollow">http://www.tomsnyder.com/timelinerxe/</a> An AIR desktop application to create timelines for K-12 students.  Most of the interface utilizes ObjectHandles<a href="/p/flex-object-handles/w/edit/ObjectHandles"></a>. </li></ul>
<h2><a name="Todo-Board"/>Todo-Board<a href="#Todo-Board" class="section_anchor"></a></h2><ul><li><a href="http://www.Todo-Board.com/" rel="nofollow">http://www.Todo-Board.com/</a> Task management website. </li></ul>


 </td> 





<br/><br/>

{% endblock %}

